---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="Sobre Nosotros">
    <p>
      Usach Premium es una comunidad creada por estudiantes de la Universidad de Santiago de Chile, con el objetivo de ayudar a los estudiantes de Ingenieria 
      en la preparación y adaptación de sus primeros años dentro de la Universidad.
      Fundada en 2022 hemos recibido a 3 generaciones de estudiantes (2022, 2023, 2024 y ahora en esperando a la g2025) realizando actividades de inducción y ayudantías de Cálculo I, Álgebra I,
      Álgebra II, Física I, Python, Fundamentos de Economía, Ecuaciones Diferenciales, entre otros
    </p>
  </Page>
</Base>
