---
import config from "@config/config.json";
import HeartIcon from "@components/icons/HeartIcon.astro";
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div class="border-t border-zinc-100 dark:border-zinc-900">
    <p class="text-center text-xs/relaxed text-zinc-500 dark:text-zinc-400 mt-8 mb-8">
      &copy; {year}. {config.site.title} All Rights Reserved.
      <span class="block mt-2">
        Made by
        <a
          href="https://www.github.com/reii23"
          class="text-zinc-700 decoration-dashed transition hover:text-zinc-700/75 dark:text-zinc-200 dark:hover:text-zinc-200/75"
          >reii23</a><br>
        Ante cualquier duda o sugerencia contactarse a <a href="https://www.instagram.com/usach.premium/" target="_blank">@usach.premium</a> o 
        <a href="mailto:reinaldo.pacheco@usach.cl" target="_blank">reinaldo.pacheco@usach.cl</a>
    </span>
    </p>
  </div>
</footer>
